@import "night.css";
@import "custom-night/mermaid.dark.css";
@import "custom-night/codeblock.dark.css";
@import "custom-night/sourcemode.dark.css";
:root {
  --bg-color: #363B40;
  --side-bar-bg-color: #2E3033;
  --text-color: #b8bfc6;
  --select-text-bg-color: #4a89dc;
  --item-hover-bg-color: #0a0d16;
  --control-text-color: #b7b7b7;
  --control-text-hover-color: #eee;
  --window-border: 1px dashed #9b9b9b;
  --active-file-bg-color: rgb(34, 34, 34);
  --active-file-border-color: #8d8df0;
  --primary-color: #a3d5fe;
  --active-file-text-color: white;
  --item-hover-bg-color: #70717d;
  --item-hover-text-color: white;
  --primary-color: #6dc1e7;
  --rawblock-edit-panel-bd: #4B535A;
  --font-size: 16px;
  --body-font: "Noto", sans-serif;
  --monospace-font: "Noto", monospace;
  --monospace-font-size: 14px;
  --monospace-line-height: 1.4;
}

html,
body,
button,
input,
select,
textarea {
  font-style: normal;
  line-height: 1.625rem;
  font-family: "Noto", "source-sans-pro", Helvetica, Arial, sans-serif;
}

hr {
  height: 2px;
  border: 0;
  margin: 24px 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto", "source-sans-pro", "Corbel", sans-serif;
}

h1 {
  padding-bottom: .3em;
  border-bottom: 1px solid rgb(99, 99, 99);
}

h1::before,
h2::before,
h3::before {
  font-weight: 400;
  font-size: 1rem;
  text-align: right;
  width: 3.5ch;
  color: #888;
  text-decoration: none;
  padding-right: 1ch;
  margin-left: -3.5ch;
  display: inline-block;
}

h1::before {
  content: '#1';
}

h2::before {
  content: '#2';
}

h3::before {
  content: '#3';
}

.cm-s-inner .CodeMirror-gutters {
  background: #272822;
  border-right: 0px;
}

.md-fences,
code,
tt {
  border: 1px solid #e7eaed;
  background: #272822;
  border-radius: 3px;
  padding: 0;
  padding: 2px 4px 0px 4px;
  font-size: 0.9em;
}