@import "github.css";
.md-end-block {
  margin-top: 0;
  margin-bottom: 0;
}

.md-heading {
  margin-top: 20px;
  margin-bottom: 15px;
}

.md-fences,
.md-math-container {
  margin: 20px 0;
}

ul {
  margin-top: 0px;
}

body {
  font-family: "Times", "Open Sans","Clear Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: rgb(51, 51, 51);
  line-height: 1.6;
}