@charset "UTF-8";

/* CSS Document */


/** code highlight */


/* Based on Sublime Text's inner theme */

.cm-s-inner.CodeMirror {
  background: #272822;
  color: #f8f8f2;
}

.cm-s-inner div.CodeMirror-selected {
  background: #49483E;
}

.cm-s-inner .CodeMirror-line::selection,
.cm-s-inner .CodeMirror-line>span::selection,
.cm-s-inner .CodeMirror-line>span>span::selection {
  background: rgba(73, 72, 62, .99);
}

.cm-s-inner .CodeMirror-line::-moz-selection,
.cm-s-inner .CodeMirror-line>span::-moz-selection,
.cm-s-inner .CodeMirror-line>span>span::-moz-selection {
  background: rgba(73, 72, 62, .99);
}

.cm-s-inner .CodeMirror-gutters {
  background: #272822;
  border-right: 0px;
}

.cm-s-inner .CodeMirror-guttermarker {
  color: white;
}

.cm-s-inner .CodeMirror-guttermarker-subtle {
  color: #d0d0d0;
}

.cm-s-inner .CodeMirror-linenumber {
  color: #d0d0d0;
}

.cm-s-inner .CodeMirror-cursor {
  border-left: 1px solid #f8f8f0;
}

.cm-s-inner span.cm-comment {
  color: #75715e;
}

.cm-s-inner span.cm-atom {
  color: #ae81ff;
}

.cm-s-inner span.cm-number {
  color: #ae81ff;
}

.cm-s-inner span.cm-comment.cm-attribute {
  color: #97b757;
}

.cm-s-inner span.cm-comment.cm-def {
  color: #bc9262;
}

.cm-s-inner span.cm-comment.cm-tag {
  color: #bc6283;
}

.cm-s-inner span.cm-comment.cm-type {
  color: #5998a6;
}

.cm-s-inner span.cm-property,
.cm-s-inner span.cm-attribute {
  color: #a6e22e;
}

.cm-s-inner span.cm-keyword {
  color: #f92672;
}

.cm-s-inner span.cm-builtin {
  color: #66d9ef;
}

.cm-s-inner span.cm-string {
  color: #e6db74;
}

.cm-s-inner span.cm-variable {
  color: #f8f8f2;
}

.cm-s-inner span.cm-variable-2 {
  color: #9effff;
}

.cm-s-inner span.cm-variable-3,
.cm-s-inner span.cm-type {
  color: #66d9ef;
}

.cm-s-inner span.cm-def {
  color: #fd971f;
}

.cm-s-inner span.cm-bracket {
  color: #f8f8f2;
}

.cm-s-inner span.cm-tag {
  color: #f92672;
}

.cm-s-inner span.cm-header {
  color: #ae81ff;
}

.cm-s-inner span.cm-link {
  color: #ae81ff;
}

.cm-s-inner span.cm-error {
  background: #f92672;
  color: #f8f8f0;
}


/* .cm-s-inner .CodeMirror-activeline-background {
  background: #373831;
} */

.cm-s-inner .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}


/**apply to code fences with plan text**/

.CodeMirror-gutters {
  background: transparent;
  border-right: none;
  /* 1px solid transparent; */
}

pre.md-fences {
  padding: 10px 30px;
  margin-bottom: 20px;
  border: none;
  /* 1px solid; */
}

.md-fences {
  /* background-color: #263238; */
  /* rgba(233, 237, 237, 1); */
  border: none;
}


/* .md-fences .code-tooltip {
  background-color: #263238;
} */